.container {
  max-width: 1024px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

h1 {
  font-weight: 600;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  font-family: 'Jaldi', sans-serif;
}

.table {
  border-top: 0 !important;
}
.table thead {
  border-bottom: 0 !important;
}

.double-rule {
  height: 0;
  border-top: 2px solid #bdbdbd;
  border-bottom: 2px solid #bdbdbd;
  margin: 1rem 0 1.25rem 0;
}

.table-wrap {
  max-width: 65%;
}

.brand-totals {
  font-size: 1rem;
}


